<h1>{{title}}</h1>

<form>
<input type="text" (keyup)="calculate2()" id="textall"  [(ngModel)]="textall" name="textall" value={{textall}}><br/><br/>
<div class="blok">
    <input class="button" type="BUTTON" (click)="ADD('1')" name="1" VALUE="1"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('2')" name="2" VALUE="2"><br/><br/>
    <input type="BUTTON" class="button" (click)="ADD('3')" name="3" VALUE="3"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('4')" name="4" VALUE="4"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('5')" name="5" VALUE="5"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('6')" name="6" VALUE="6"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('7')" name="7" VALUE="7"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('8')" name="8" VALUE="8"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('9')" name="9" VALUE="9"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('0')" name="0" VALUE="0"><br/><br/>
</div>

<div class="blok">
    <input class="button" type="BUTTON" (click)="ADD('+')" name="+" VALUE="+"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('-')" name="-" VALUE="-"><br/><br/>
    <input type="BUTTON" class="button" (click)="ADD('*')" name="*" VALUE="*"><br/><br/>
    <input class="button" type="BUTTON" (click)="ADD('/')" name="/" VALUE="/"><br/><br/>
</div>
<br/>
<p class="res">Resultado: {{res}}</p>
</form>
